<ion-view title="Pendentes">
    <ion-content class="padding-horizontal pending-requests-container">
        <div ng-if="match.guestsRequests.length > 0">
            <h4 class="section-title">Pendentes</h4>
            <div class="card list">
                <div class="item item-avatar" ng-repeat="user in match.guestsRequests">
                    <img src="img/profile_default.svg">
                    <h2>{{ user.name }}</h2>
                    <p>{{ user.email }}</p>
                    <div class="actions-item-avatar-container">
                        <i class="icon ion-checkmark-round" ng-click="acceptRequest(user.id)"></i>
                        <i class="icon ion-close-round" ng-click="rejectRequest(user.id)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-view-container" ng-if="match.guestsRequests.length === 0">
            <h4 class="title-section">
                Não convites pendentes para participar dessa partida.
            </h4>
        </div>
    </ion-content>
</ion-view>