<ion-view title="Partida">
    <ion-nav-buttons side="right">
        <div ng-if="hasAction">
            <button class="button button-clear" ng-click="barButtonAction()">{{ actionBarButtonText }}</button>
        </div>
        
    </ion-nav-buttons>
    <ion-content>
        <div class="title-container margin-title-top">
            <h3 class="title-section">{{ match.name }}</h3>
        </div>
        <div class="card list">
            <div class="item">
                Local: {{ match.address }}
            </div>
            <div class="item">
                Data: {{ match.date | date }}
            </div>
            <div class="item">
                Esporte: {{ match.sport }}
            </div>
            <div class="item">
                Descrição da partida: {{ match.description }}
            </div>
        </div>
    </ion-content>

    <button id="match-details__float-edit" class="button button-float" ng-click="openEditMatchView()" ng-if="_user.id === match.idOwner">
        <i class="icon ion-edit"></i>
    </button>

    <!-- <div ng-if="isFloatActive" class="animate-show-up">
        <button id="match-details__float-edit" class="button button-float" ng-click=""><i class="icon ion-navicon-round"></i></button>
        <button id="match-details__float-delete" class="button button-float" ng-click=""><i class="icon ion-navicon-round"></i></button>
    </div>
    <button id="match-details__float-actions" class="button button-float" ng-click="toggleActionsFloatButton()">
        <i class="icon ion-navicon-round" ng-if="!isFloatActive"></i>
        <i class="icon ion-close-round" ng-if="isFloatActive"></i>
    </button> -->
</ion-view>