<ion-tabs class="tabs-icon-top tabs-positive" ng-if="match !== undefined">
    <ion-tab title="Detalhes" icon="ion-clipboard" ui-sref="app.match.details">
        <ion-nav-view name="match-details"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Membros" icon="ion-android-contacts" ui-sref="app.match.members">
        <ion-nav-view name="match-members"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Pendentes" icon="ion-person-add" ui-sref="app.match.pendingRequests" ng-if="_user.id === match.idOwner">
        <ion-nav-view name="match-pending-requests"></ion-nav-view>
    </ion-tab>
</ion-tabs>