<ion-view title="Membros">
    <ion-content class="padding">
        <h4 class="section-title">Confirmados</h4>
        <div class="card list">
            <div class="item item-icon-left">
                <i class="icon ion-person"></i>
                Rafael Klynger
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-person"></i>
                Ronaldo Medeiros
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-person"></i>
                Fernando Souza
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-person"></i>
                Breno Gonçalo
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-person"></i>
                Ricardo Francisco
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-person"></i>
                Matheus de Souza
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-person"></i>
                José Rafael
            </div>
        </div>
    </ion-content>
</ion-view>