<ion-view title="Pendentes">
    <ion-content class="pending-requests-container">
        <div class="animate-show-up" ng-if="!isLoadingPendingRequests">
            <div ng-if="match.guestsRequests.length > 0">
                <div class="title-container padding-vertical">
                    <h3 class="section-title">Pendentes</h3>
                </div>
                <div class="card list">
                    <div class="item item-avatar" ng-repeat="user in match.guestsRequests">
                        <img src="img/profile_default.svg">
                        <h2>{{ user.name }}</h2>
                        <p>{{ user.email }}</p>
                        <div class="actions-item-avatar-container">
                            <i class="icon ion-checkmark-round" ng-disabled="isPendingRequestActionDisabled" ng-click="acceptRequest(user.id)"></i>
                            <i class="icon ion-close-round" ng-disabled="isPendingRequestActionDisabled" ng-click="rejectRequest(user.id)"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-view-container padding" ng-if="match.guestsRequests.length === 0">
                <h4 class="title-section">
                    Não convites pendentes para participar dessa partida.
                </h4>
            </div>
        </div>
        <div class="spinner-container" ng-if="isLoadingPendingRequests">
            <ion-spinner icon="android"></ion-spinner>
        </div>
    </ion-content>
</ion-view>