<ion-view title="Detalhes">
    <ion-content>
        <div class="card list">
            <div class="item">
                Local: {{ match.address }}
            </div>
            <div class="item">
                Data: {{ match.date }}
            </div>
            <div class="item">
                Esporte: {{ match.sport }}
            </div>
            <div class="item">
                Descrição da partida: {{ match.description }}
            </div>
        </div>
    </ion-content>
</ion-view>