<ion-view title="Membros">
    <ion-content class="padding">
        <div ng-if="match.guests.length > 0">
            <h4 class="section-title">Confirmados</h4>
            <!-- RODAR NG-REPEAT QUANDO A LISTA TIVER ALGUM USUÁRIO -->
            <div class="card list">
                <div class="item item-icon-left">
                    <i class="icon ion-person"></i> Rafael Klynger
                </div>
            </div>
        </div>
        <div ng-if="match.guests.length === 0">
            Não há pessoas confirmadas nessa partida ainda.
        </div>
    </ion-content>
</ion-view>