<ion-view title="Partidas">
    <ion-content>
        <div class="title-container margin-title-top">
            <h3 class="title-section">Minhas Partidas</h3>
        </div>
        <div class="list animate-show-up" ng-if="myMatches !== undefined">
            <div class="card" ng-repeat="match in myMatches">
                <div class="item card-match-row" ng-click="goToMatch(match.id)">
                    <p>{{ match.sport }}</p>
                    <p>{{ match.date | date }}</p>
                </div>
            </div>
        </div>
    </ion-content>
    <button class="button button-float" ng-click="openNewMatchView()">
            <i class="icon ion-plus"></i>
    </button>
</ion-view>