<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Nova partida</h1>
        <button class="button button-clear button-primary" ng-click="newMatchView.hide()">Cancelar</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="card">
            <label class="item item-input">
                <input placeholder="Nome da partida" ng-model="_newMatch.name" type="text">
            </label>
            <label class="item item-input">
                <input placeholder="Data" ng-model="_newMatch.date" type="date">
            </label>
            <label class="item item-input">
                <input placeholder="Local da partida" ng-model="_newMatch.address" type="text">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Esporte
                </div>
                <select ng-model="_newMatch.sport">
                    <option value="Futsal" selected>Futsal</option>
                    <option value="Futebol">Futebol</option>
                    <option value="Vôlei">Vôlei</option>
                    <option value="Natação">Natação</option>
                    <option value="Tenis">Tenis</option>
                </select>
            </label>
            <label class="item item-input">
                <textarea placeholder="Descrição" class="match-description" ng-model="_newMatch.description" cols="30" rows="10"></textarea>
            </label>
        </div>
        <button class="button button-full button-positive" ng-click="createMatch()">Criar</button>
    </ion-content>
</ion-modal-view>