<ion-view title="Partidas">
    <ion-content>
        <div class="title-container margin-title-top">
            <h3 class="title-section">Partidas que Participo</h3>
        </div>
        <div class="list animate-show-up" ng-if="matches !== undefined">
            <div ng-if="matches.length > 0">
                <div class="card" ng-repeat="match in matches">
                    <div class="item card-match-row" ng-click="goToMatch(match.id)">
                        <p>{{ match.name }}</p>
                        <p>{{ match.date | date }}</p>
                    </div>
                </div>
            </div>
            <div class="empty-view-container empty-view-with-title" ng-if="matches.length === 0">
                <h4 class="title-section">
                    Nenhuma partida
                </h4>
            </div>
        </div>
    </ion-content>
</ion-view>