<ion-view view-title="Perfil">
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <img src="{{ user.profilePhoto }}" alt="Profile photo">
        <h2><b>{{ user.name }}</b></h2>
        <!-- <h3>(83) 9 96354282</h3>
        <h3>Rua 13 de maio, 35. Bairro Centenário, Campina Grande.</h3> -->
      </div>
    </div>
    <div class="title-container">
      <h2 class="title-section">Partidas</h2>
    </div>
    <ul id="matches-list" class="list">
      <li class="item">Partida 1</li>
      <li class="item">Partida 2</li>
      <li class="item">Partida 3</li>
    </ul>
  </ion-content>
</ion-view>