<ion-view title="Buscar Usuário">
    <ion-content class="padding search-user-container">
        <div class="card item item-input-inset">
            <label class="item-input-wrapper">
                <input placeholder="Nome ou Email" type="text" ng-model="search.searchCamp" ng-change="filterUsers()">
            </label>
        </div>
        <div class="animate-show-up" ng-if="!isLoading">
            <div class="search-result-container" ng-if="searchResult.length > 0">
                <div class="title-container">
                    <h3 class="title-section">Resultado</h3>
                </div>
                <div class="list">
                    <div class="card" ng-repeat="user in searchResult">
                        <div class="item item-avatar" ng-click="goToUser(user.id)">
                            <img src="img/profile_default.svg" alt="">
                            <h2>{{ user.name }}</h2>
                            <p>{{ user.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-view-container empty-view-with-title" ng-if="searchResult.length === 0">
                <h4 class="title-section">
                    Não há resultados para essa busca
                </h4>
            </div>
        </div>
        <div class="spinner-container" ng-if="isLoading">
            <ion-spinner icon="android"></ion-spinner>
        </div>
    </ion-content>
</ion-view>