<ion-view title="Buscar Partida">
    <ion-content class="padding">
        <div class="card item item-input-inset">
            <label class="item-input-wrapper">
                <input placeholder="Nome da partida ou esporte" type="text" ng-change="filterMatches()" ng-model="search.searchCamp">
            </label>
        </div>
        <div class="animate-show-up" ng-if="!isLoading">
            <div class="search-match-result-container" ng-if="searchResult.length > 0">
                <div class="title-container">
                    <h3 class="title-section">Resultado</h3>
                </div>
                <div class="list">
                    <div class="card" ng-repeat="match in searchResult">
                        <div class="item card-match-row" ng-click="goToMatch(match.id)">
                            <div>
                                <h2>{{ match.name }}</h2>
                                <p>{{ match.sport }}</p>
                            </div>
                            <p>{{ match.date | date }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-view-container empty-view-with-title" ng-if="searchResult.length === 0">
                <h4 class="title-section">
                    Não há resultados para essa busca
                </h4>
            </div>
        </div>
        <div class="spinner-container" ng-if="isLoading">
            <ion-spinner icon="android"></ion-spinner>
        </div>
    </ion-content>
</ion-view>