<ion-view view-title="" name="login-view" ng-init="user={name: '', email: '', password: '', phone: '', address: ''}">
    <ion-content class="padding flex-content">
        <div class="img-container">
            <img src="img/logo.png" alt="">
        </div>
        <form name="signupForm">
            <label class="item item-input" ng-class="{'invalid': signup.name.$touched && signup.name.$invalid}">
        <input type="text" placeholder="Nome" name="name" ng-model="user.name" required>
    </label>
            <label class="item item-input" ng-class="{'invalid': signup.email.$touched && signup.email.$invalid}">
        <input type="email" placeholder="Email" ng-model="user.email" required>
    </label>
            <label class="item item-input" ng-class="{'invalid': signup.passwrod.$touched && signup.password.$invalid}">
          <input type="password" placeholder="Senha" name="password" ng-model="user.password" required>
        </label>
            <label class="item item-input" ng-class="{'invalid': signup.phone.$touched && signup.phone.$invalid}">
          <input type="number" placeholder="Telefone" ng-model="user.phone" required>
        </label>
            <label class="item item-input" ng-class="{'invalid': signup.address.$touched && signup.address.$invalid}">
          <input type="text" placeholder="Endereço" ng-model="user.address" required>
        </label>
            <button class="button button-block button-positive" type="submit">Cadastrar</button>
        </form>
    </ion-content>
</ion-view>