<ion-content class="padding flex-content">
    <div class="img-container">
        <img src="img/logo.png" alt="">
    </div>
    <label class="item item-input">
        <input type="text" placeholder="Nome" ng-model="user.name" required>
    </label>
    <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="user.email" required>
    </label>
    <label class="item item-input">
          <input type="password" placeholder="Senha" ng-model="user.password" required>
        </label>
    <label class="item item-input">
          <input type="number" placeholder="Telefone" ng-model="user.phone" required>
        </label>
    <label class="item item-input">
          <input type="text" placeholder="Endereço" ng-model="user.address" required>
        </label>
    <button class="button button-block button-positive" type="submit">Cadastrar</button>
</ion-content>