<ion-view view-title="" name="testing-view">
    <ion-content class="padding flex-content">
        <form name="testingForm">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Método</span>
                <input type="text" ng-model="testForm.method" placeholder="POST ou GET">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Quantidade de Requisições</span>
                <input type="number" ng-model="testForm.quantRequisitions" placeholder="100">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nome do arquivo</span>
                <input type="text" ng-model="testForm.fileName">
            </label>
        </form>
        <button class="button button-block" ng-click="makeTest()">Iniciar</button>
        <a id="download-button" class="button button-warn button-block">Download</a>
        <div class="title-container margin-title-top">
            <h3 class="title-section">{{ statusTesting }}</h3>
        </div>
        <!-- <ul class="list testing-log-list">
            <li class="item" ng-repeat="msg in log">{{ msg }}</li>
        </ul> -->
    </ion-content>
</ion-view>