<ion-view title="Perfil" cache-view="false">
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-body">
                <img src="{{ user.profilePhoto }}" alt="Profile photo">
                <h2 class="name-container"><b>{{ user.name }}</b></h2>
                <h4 class="email-container">({{ user.email }})</h4>
            </div>
            <div class="extra-info">
                <h4 class="phone">{{ user.phone }}</h4>
                <div>
                    <p> Fair play: {{ user.fairPlayRating }}/10</p>
                    <p>Habilidade: {{ user.abilityRating }}/10</p>
                </div>
            </div>
        </div>
        <!-- <div class="list card" ng-init="descricao = false; habilidades = false; agenda = false;"> -->
        </div>
    </ion-content>
    <button class="button button-float" ng-click="openEditProfileView()">
            <i class="icon ion-edit"></i>
    </button>
</ion-view>