.flex-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.invalid {
    border: solid 1px red;
}

.valid {
    border: solid 1px green;
}

.login-form label {
    margin: 5px 0;
    transition: all 0.3s ease;
}

.img-container img {
    width: 100%;
}